[user]
	email = shin10@gmx.de
	name = Michael Trenkler
	username = shin10

[core]
	pager = ~/.diff-so-fancy/diff-so-fancy | less --tabs=4 -RFX
	excludesFile = ~/.gitignore
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[github]
	user = shin10
[pull]
	rebase = false
[init]
	defaultBranch = main
